<h2>Comments for <%= project.name %></h2>

<div class="timeline-container">
  <% @weeks_data.each do |week| %>
    <div class="timeline-entry">
      <div class="timeline-item">
        <%= link_to weekly_project_comments_path(project, week_start: week[:week_start]), data: { turbo_frame: "weekly_comments_modal" } do %>
          <strong><%= week[:count] %></strong>
        <% end %>
      </div>
      <div class="timeline-date">
        <%= week[:week_start].strftime("%d/%m/%y") %>
      </div>
    </div>
  <% end %>
</div>