<h2>Comments for <%= project.name %></h2>

<%= link_to 'Back to Project', project %>

<div class="timeline-container">
  <% comments.each do |comment| %>
      <div class="timeline-item">
        <div class="timeline-content">
          <strong><%= comment.user&.name || "Anonymous" %></strong>: 
          <span class="comment-body"><%= raw comment.body.to_s %></span>
        </div>
      </div>
  <% end %>
</div>