        <h1>Editing comment</h1>
                
        <%= render "form", project: @project, comment: @comment %>

        <br>

        <div>
            <%= link_to "Show this project", @project %> |
            <%= link_to "Back to projects", projects_path %>
        </div>
        <div>
        <%= link_to "Cancel", "#", data: { action: "modal#close" }, class: "cancel-button" %>
        </div>


