<header>
<nav class="navbar">
    <div class="nav-logo"><img src="Logo original.png" width="80" height="80"></div>
        <ul>
            <li>Manifesto</li>
            <li>Registrar Cadenas</li>
            <li id="login">Entrar / Cadastrar</li>
        </ul>
</nav>
</header>