<div class="top-section">
    <h1 class="title">The place to manage your RevOps Projects</h1>
    <p class="sub-title">The first end to end solution for create for Revenue Operations to keep track of</p>
    <p class="sub-title">the projects that actually move the needle</p>
</div>