<div class="top-section">
    <h1 class="title">The place to manage your RevOps Projects</h1>
    <p class="sub-title">Manage and automatically document every Revenue related project</p>
    <p class="sub-title">that changes the GTM funnel</p>
</div>

<div class="card-deck">
    <div class="card" id="first-card">          
        <h3 class="title">Manage your GTM Projects</h3>
        <p class="body">Keep track of each project progress, information and deadlines in one single place</p>
    </div>
    <div class="card" id="second-card">
        <h3 class="title">Automated documentation</h3>
        <p class="body">Eliminate to manual documentation and automatically track all changes within the Customer Funnel</p>
    </div>
    <div class="card" id="third-card">
        <h3 class="title">Align your GTM Team</h3>
        <p class="body">Ensure everyone is aligned with a single source of truth for funnel management and documentation.</p>
    </div>
</div>

<div class="mid-section">
    <div class="text">
        <h2 class="title">The days of manually documenting your Customer Funnel are over</h2>
        <h3 class="body">As GTM Operators, we all know that managing and deploying Projects for process optimization is enough</h3>
        <h3 class="body">However, more than successfully launching a project, documenting every change and ensuring that everyone is working with the latest information can be a logistical nightmare on itself.</h3>
        <h3 class="body">With Mind Book, say goodbye to manual documentation and automatically log every change, providing the GTM Teams with a clear, auditable trail of all modifications of the Revenue Funnel.</h3>
    </div>
</div>