<turbo-frame id="project-edit-modal">
    <dialog class="project-edit-modal" id="project-edit-modal">
        <h3>Edit Your Project</h3>
        <p>I'm the first card modal</p>
        <form action="<%= project_path(@project) %>" method="POST">
            <input type="hidden" name="_method" value="patch">
            <label for="name">Project Name:</label>
            <input type="text" id="name" name="name" value="<%= @project.name %>">
            <button type="submit">Save Changes</button>
        </form>
            <button class="close-project-edit-modal">Close</button>
    </dialog>
</turbo-frame>