<div class="project-card"> 
  <div id="<%= dom_id project %>">
    <div class="project-card-name">
      <strong><%= link_to project.name, project_path(project) %></strong>
    </div>
    <div class="project-card-dates">
      <%= project.start_date.present? ? project.start_date.strftime("%m/%d/%Y") : "" %> - <%= project.end_date.present? ? project.end_date.strftime("%m/%d/%Y") : "" %>
    </div>
  </div>
</div>