<%= turbo_frame_tag "new_project_modal" do %>
  <div class="modal" data-controller="modal" data-modal-target="modal">
    <h1>New project</h1>

    <%= form_with(model: @project) do |form| %>
      <%= render "form", project: @project %>
    <% end %>

    <br>

    <div>
      <%= link_to "Cancel", "#", data: { action: "modal#close" }, class: "cancel-button" %>
    </div>
    </div>
  </div>
<% end %>