<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <h1>New project</h1>

    <%= render "form", project: @project %>

    <br>

    <div>
      <%= link_to "Cancel", "#", data: {
        controller: "modal", 
        action: "modal#close"
      }, class: "cancel-button" %>
    </div>
  </div>
<% end %>