<%= turbo_frame_tag "new_project_modal" do %>
  <div class="modal">
    <h1>New project</h1>

    <%= form_with(model: @project) do |form| %>
      <%= render "form", project: @project %>
    <% end %>

    <br>

    <div>
          <%= link_to "Cancel", "#", class: "cancel-button", data: { turbo_frame: "new_project_modal", turbo_action: "remove" } %>
    </div>
  </div>
<% end %>