<%= turbo_frame_tag "new_project_modal" do %>
  <div data-controller="modal" data-action="turbo:before-render@document->modal#hideBeforeRender" data-modal-target="container" class="modal-container">
    <div class="modal-backdrop"></div>
    <div class="modal">
      <h1>New project</h1>

      <%= form_with(model: @project) do |form| %>
        <%= render "form", project: @project %>
      <% end %>

      <br>

      <div>
        <%= link_to "Cancel", "#", data: { action: "modal#close" }, class: "cancel-button" %>
      </div>
      </div>
    </div>
  </div>
<% end %>